@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-gray-900;
  }
}

@layer components {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .perspective {
    perspective: 1000px;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}

@layer utilities {
  .animate-fadeDown {
    animation: fadeDown 1s ease-out;
  }
  
  .animate-fadeUp {
    animation: fadeUp 1s ease-out 0.3s backwards;
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-out 0.6s backwards;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}